html,
body {
  scrollbar-shadow-color: rgba(black, 0);
  scrollbar-face-color: rgba(black, 0.5);
  scrollbar-track-color: rgba(black, 0);
  scrollbar-arrow-color: rgba(black, 0);
}
body {
  background: darkslategray;
}
#app {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  // left: 0;
  // right: 0;
  // bottom: 0;
  // top: 0;
  // display: flex;
  // flex-direction: column;
}
#app.desktop {
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0);
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }
  ::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
  }
  ::-webkit-scrollbar-track:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  ::-webkit-scrollbar-thumb:vertical,
  ::-webkit-scrollbar-thumb:horizontal {
    border: 2px solid rgba(0, 0, 0, 0);
    min-height: 30px; /*Prevent it from getting too small */
    border-radius: 100px;
    background: rgba(200, 200, 200, 0.4);
    background-clip: padding-box;
  }
  ::-webkit-scrollbar-thumb:vertical:active,
  ::-webkit-scrollbar-thumb:horizontal:active {
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    background: rgba(
      200,
      200,
      200,
      0.5
    );
  }
  ::-webkit-scrollbar-track:hover {
    background-color: rgba(120, 120, 120, 0.12);
  }
}
#version {
  background: black;
  color: white;
  font-size: 11px;
  padding: 2px 4px;
  display: flex;
  align-items: center;
  a {
    cursor: pointer;
  }
}
#modals {
  position: absolute;
  z-index: 100;
  left: 0;
  top: 0;
}